*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    

}

/* Navbar */

.section-width{
    max-width: 1140px;
    margin: auto;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
nav div img{
    width: 135px;
    
    
}
.menubar ul li{
    list-style: none;
    color: #252432;

}
.menubar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    gap: 48px;
    
}
.banner{
    height: 461px;
    display: flex;
    align-items: end;
    border: 5px solid salmon;
    margin-bottom: 120px;
}
.banner-image{
    width: 570px;
    border: 5px solid tomato;
}
.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: bold;

}
.banner-title span{
    color: #E95A08;
}
.banner-description{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);

}

/* our plants */
.ourplants-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;

}
.our-plants{
    text-align: center;
    margin-bottom: 40px;
}
.ourplants-title span{
    color: #E95A08;
    
}
.ourplants-des{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    
}
.grid-items{
    max-width: 270px;
    text-align: center;

}
.flower-name{
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-top: 30px;
}
.price{
    font-size: 22px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 30px;
    margin-top: 20px;
}
.btn{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 19px 80px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* plants-lover */

.plants-lover{
    margin-top: 210px;
    margin-bottom: 133px;
}

.flex-item-1 img{
    width: 540px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.plants-lover-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}
.flex-item-2 ul li{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    margin-top: 20px;
    list-style-position: inside;
    
}

/* Latest deals */
.deals-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;

}
.deals{
    text-align: center;
    margin-bottom: 110px;
}
.deals-title span{
    color: #E95A08;
    
}
.deals-des{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);
    
}
.deals-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    row-gap: 25px;
    column-gap: 28px;
    text-align: center;
    
    
    
}
.itemno-1{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.itemno-2{
    background-image: url(./assets/deal-zabo.png);
    grid-area: 1 / 2 / 3/ 4;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.itemno-3{
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.discount{
    font-weight: bold;
    font-size: 20px;
    font-family: "Noto Serif", serif;
    color: #ffffff;
}
.deals-container div a{
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 19px auto;
}
.itemno-2 .discount{
    font-size: 40px;
}
.deals-container .itemno-2 a{
    font-size: 28px;
    padding: 19px auto;
}

/* subscribe */
.subscribe{
    margin-top: 120px;
    width: 100vw;
    min-height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.subscribe h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 23px;
}
.sub-cont div form{
  display: flex;
  gap: 0px;
  min-width: 830px;
  margin: auto;
}
.subscribe input[type="text"] {
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  
}
.subscribe form input[type="submit"]{
  padding: 19px 53.5px;
  background-color: #E95A08;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
}
