*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    

}

/* Navbar */

.section-width{
    max-width: 1140px;
    margin: auto;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
nav div img{
    width: 135px;
   
}
.menubar ul li{
    list-style: none;
}
.menubar ul li a{
    color: #252432;
    font-size: 22px;

}

.menubar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0px;
    gap: 48px;
    
}

.banner{
    height: 461px;
    display: flex;
    align-items: end;
    margin-bottom: 120px;
}
.banner-image{
    max-width: 570px;
    height: auto;
}
.banner-title{
    font-family: "Noto Serif", serif;
    font-size: 65px;
    font-weight: bold;

}
.banner-title span{
    color: #E95A08;
}
.banner-description{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);

}

@media screen and (max-width: 576px){
    .menubar ul li:nth-child(1),
    .menubar ul li:nth-child(2),
    .menubar ul li:nth-child(3){
    display: none;
} 
    nav{
        margin: 13px 16px 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menubar ul{
        
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    nav div img{
    width: 63px;
   
    }
}
    /* MEDIA QUERY FOR BANNER */
    @media screen and (max-width: 576px){
    
     .banner {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    margin-bottom: 60px;
    text-align: center;
    margin-bottom: 0px;
  }
  
  .banner-image {
    width: auto;
    height: auto;
    display: block;
    
  }
  .bannerdetails{
    margin: 28px 16px 65px;
  }
  .banner-title{
    font-size: 24px;
    margin-top: 28px ;
    text-align: start;
    max-width: 191px;
  }
  .banner-description{
    font-size: 14px;
    text-align: left;
  }
}


/* our plants */
.ourplants-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;

}
.our-plants{
    text-align: center;
    margin-bottom: 40px;
}
.ourplants-title span{
    color: #E95A08;
    
}
.ourplants-des{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    
}
.grid-items{
    max-width: 270px;
    text-align: center;

}
.flower-name{
    font-size: 22px;
    font-weight: 500;
    color: #111111;
    margin-top: 30px;
}
.grid-items img{
    height: auto;
    max-width: 270px;
}
.price{
    font-size: 22px;
    font-weight: bold;
    color: #111111;
    margin-bottom: 30px;
    margin-top: 20px;
}
.btn{
    width: 100%;
    background-color: #E95A08;
    color: white;
    padding: 19px 80px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}
@media screen and (max-width: 576px){
    .ourplants-title{
    font-size: 24px;
    }
    .ourplants-des{
    font-size: 14px;}
    .plants{
        margin: auto 16px;
    }
    .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: auto;
    row-gap: 30px;}
    .grid-items img{
    max-width: 171px;}
    .grid-items{
    max-width: 171px;}
    .btn{
    /* padding: 19px 30px;} */
    padding: 19px 0px;}
    .flower-name, .flower-name{
        font-size: 16px;}
    .price{
        margin-top: 0px;
    }
}


/* plants-lover */

.plants-lover{
    margin-top: 210px;
    margin-bottom: 133px;
}

.flex-item-1 img{
    width: 540px;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.plants-lover-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
}
.flex-item-2 ul li{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    margin-top: 20px;
    list-style-position: inside;
    
}
@media screen and (max-width: 576px){
    .flex-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.flex-item-1 img{
    width: auto;
    height: auto;
}
.plants-lover{
    margin: 41px 16px 143px;
}
    .plants-lover-title{
    font-size: 24px;}
    .flex-item-2 ul li{
    font-size: 14px;}
}

/* Latest deals */
.deals-title{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;

}
.deals{
    text-align: center;
    margin-bottom: 110px;
}
.deals-title span{
    color: #E95A08;
    
}
.deals-des{
    font-size: 22px;
    color: rgba(0, 0, 0, .5);
    
}
.deals-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    row-gap: 25px;
    column-gap: 28px;
    text-align: center;
    
    
    
}
.itemno-1{
    background-image: url(./assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.itemno-2{
    background-image: url(./assets/deal-zabo.png);
    grid-area: 1 / 2 / 3/ 4;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.itemno-3{
    background-image: url(./assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.discount{
    font-weight: bold;
    font-size: 20px;
    font-family: "Noto Serif", serif;
    color: #ffffff;
}
.deals-container div a{
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    padding: 19px auto;
    text-decoration: underline;
}
.itemno-2 .discount{
    font-size: 40px;
}
.deals-container .itemno-2 a{
    font-size: 28px;
    padding: 19px auto;
}

@media screen and (max-width: 576px){
    .deals-title{
    font-size: 24px;}
    .deals-des{
    font-size: 14px;
    margin-bottom: 50px;}
    .deals{
    margin-bottom: 50px;}
    .deals-container{
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    row-gap: 20px;}
    
    .itemno-2 {
    grid-area: auto;}
    .deals-container{
        margin: 0px 16px;
    }
    .itemno-2 .discount{
    font-size: 20px;
    }
    .deals-container .itemno-2 a{
    font-size: 16px;
}
    .itemno-2{
        border-radius: 0PX;
    }

}
/* subscribe */
.subscribe{
    margin-top: 120px;
    width: 100%;
    min-height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.subscribe h1{
    font-family: "Noto Serif", serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 23px;
}
.sub-cont div form{
  display: flex;
  gap: 0px;
  min-width: 830px;
  margin: auto;
}
.subscribe input[type="text"] {
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  
}
.subscribe form input[type="submit"]{
  padding: 19px 53.5px;
  background-color: #E95A08;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  outline: none;
}

/* footer */
/* footer{
    width: 100%;
    
} */
.footer-cont{
    /* padding: 50px 160px; */
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    
}

.links ul li a{
    color: gray;
}

.links ul li{
    list-style: none;
    font-size: 22px;
    font-weight: 400;
    color: gray;
    /* margin-bottom: 32px; */

}
.links ul{
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about{
    max-width: 360px;
}
.about img{
    width: 135px;
    margin-bottom: 16px;
}
.about p{
    font-size: 22px;
    font-weight: 400;
    color: gray
}
.icons{
    height: 36px;
    width: 216px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}